Repository BorsaTeam/jams-manager, pull requests merged in 2020-08, with the labels that each got.

#38 Feature/score
  resources/docker-init-db.sql
  server/cmd/server/main.go
  server/database/repository/score_repository.go
  server/http/score/score.go
  server/server.go
Labels: feature

#40 Feature/test db connection
  server/cmd/server/main.go
  server/database/postgres.go
Labels: enhancement

#41 add unit tests to score
  server/cmd/server/main.go
  server/database/repository/score_repository.go
  server/http/score/score.go
  server/http/score/score_test.go
  server/server.go
Labels: enhancement

#50 cpfReview
  server/database/repository/rider.go
  server/http/riders/rider.go
  server/http/riders/rider_test.go
  server/server.go
Labels: lgtm
